#mapApp {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	
	.header {
		flex: 1 1 auto;
		height: 200px;
	}

	.mapDiv {
		flex: 2 1 auto;
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}	
}

